<!--информация по конкретной книге-->
<%- include('../layout/index')%>

<h1>book: <%= title %></h1>
<p>description: <%= description %></p>
<p>view: <%= views %></p>
<p>id: <%= id %></p>

</body>
</html>